<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-wnKdOWRJ9XzEsP+LbPvGthI+3rOhJRErM3osZQaMOj1dJmX9D78mzj+g6YieL6KV2Q/CCJn6Z5+6rmMCNfcN5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<main>

 

  <section class="py-5 text-center container">

    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album example</h1>
        <p class="lead text-muted"></p>
        <p>
          <a href="#" class="btn btn-primary my-2">Criar um novo album</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >

        <div class="col" *ngFor=" let album of albuns">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="CriancaSentada.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body" >
              <ul class="list-unstyled mt-3 mb-4">
                <li><b>{{album.nome}}</b></li>
              </ul>
              <p class="card-text">{{album.descricao}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Visualizar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                </div>
                <small class="text-muted">{{album.dataCriacao}}</small>
              </div>
            </div>
          </div>
        </div>

          <div class="card" style="  width: 25%;">
    <img src="CriancaSentada.jpg">
    <div>
      <h1>Album</h1>
      <h2>Texto exemplo de album</h2>
      <span>Data **/**/****</span>
      <button>Saiba mais (ver album)</button>
    </div>
  </div>

      </div>
    </div>
  </div>

</main>
<div class="col-5 modal fade" id="exampleModalLabelOut" tabindex="-1" aria-labelledby="exampleModalLabelOut" aria-hidden="true" width:150px>
  <div class="modal-dialog" >
  <div class="modal-content">
    <div class="modal-header" >
      <h1 class="modal-title" id="exampleModalLabelOut" >Você tem certeza que deseja sair?</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-top:-20%"></button>
    </div>
    <div class="modal-body">
      <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"  style="margin-right:20%; margin-left: 10%;" >Sair</button>
      <button type="submit"  class="btn btn-outline-success" data-bs-dismiss="modal">Cancelar</button>
    </div>
  </div>
  </div>
  </div>
