
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Para sempre ao seu lado</mat-card-title>
    <mat-card-subtitle>Diretor: Kaneto Shindô</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="imgCenter" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Professor universitário encontra na estação de trem um filhote de cachorro da raça Akita, conhecida por sua lealdade. O cão passa a acompanhá-lo até a estação de trem e esperar sua volta. Até que um acontecimento inesperado altera sua vida.
    </p>
  </mat-card-content>
  <mat-card-actions class="editando">
    <button (click)="Redirecionando()">Amei</button>

      <a class="criticas" mat-button href="https://www.omelete.com.br/filmes/criticas/critica-sempre-ao-seu-lado" target="_blank">Criticas</a>
      <a class="filme" mat-button href="https://superflixhd.net/media/assistir-online-sempre-ao-seu-lado" target="_blank">Assistir Online</a>
  </mat-card-actions>
</mat-card>

