<main>
  <div class="col-12">
    <h1 class="pb-2 border-bottom"><b>Tela de Planos</b></h1>
  </div>

  <div class="album py-5 ">
    <div class="container">
      <div class="limite">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://uploaddeimagens.com.br/images/004/418/436/full/capaPlano.png?1680671705" alt="">
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li><b>Criar um Novo Plano</b></li>
              </ul>
              <p class="">Principais instrumentos de execução e gestão da Política de SAN, os PLANSAN’s são documentos que permitem a coordenação, de forma intersetorial...</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Criar um novo Plano</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col" >
          <div class="card shadow-sm">
            <img src="https://uploaddeimagens.com.br/images/004/418/436/full/capaPlano.png?1680671705" alt="">
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">

              </ul>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver em Pdf</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModalLabelexclud" >Excluir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" >Editar</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
    </div>
  </div>
</main>


<div class="col-5 modal fade" id="exampleModalLabelexclud" tabindex="-1" aria-labelledby="exampleModalLabelexclud" aria-hidden="true" width:150px>
  <div class="modal-dialog" >
  <div class="modal-content">
    <div class="modal-header" >
      <h1 class="modal-title" id="exampleModalLabelexclud" >Você tem certeza que deseja excluir esse plano?</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-top:-20%"></button>
    </div>
    <div class="modal-body">
      <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"  style="margin-right:20%; margin-left: 10%;">Excluir</button>
      <button type="submit"  class="btn btn-outline-success" data-bs-dismiss="modal" >Cancelar</button>
    </div>
  </div>
  </div>
  </div>
